@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    
    i{
        margin-top: 15px;
        font-size: 30px;
    }

    .header-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-logo{
        margin-left: 0px;
    }
    
    .header-logo img {
        width: 200px;
        margin-top: 20px;
    }

    .header-button {
        display: none;
    }

    .hero-container {
        min-height: 50vh;
    }

    .hero-container h1 {
        font-size: 35px;
        padding: 0 14px;
        width: 100%;
    }

    .about-container {
        flex-direction: column;
    }

    .about-description h2{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .areas-nutri{
        flex-direction: column;
    }
    .nutri img{
        width: 280px;
        height: 280px;
        
    }


    footer {
        padding: 6px 0;
    }

    .button-wpp {
        display: none;
    }

    .button-wpp .text {
        display: none;
    }
}